EXEC sys.sp_dropextendedproperty @name=N'Column_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'posts', @level2type=N'COLUMN',@level2name=N'body'
GO
ALTER TABLE [dbo].[Vehiculo] DROP CONSTRAINT [CK_Vehiculo_TipoMotor]
GO
ALTER TABLE [dbo].[Vehiculo] DROP CONSTRAINT [CK_Vehiculo_TipoCarroceria]
GO
ALTER TABLE [dbo].[Vehiculo] DROP CONSTRAINT [CK_Vehiculo_Estado]
GO
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [CK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Subasta] DROP CONSTRAINT [CK_Subasta_Estado]
GO
ALTER TABLE [dbo].[Pago] DROP CONSTRAINT [CK_Pago_Metodo]
GO
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [FK_Usuario_Empresa]
GO
ALTER TABLE [dbo].[Subasta] DROP CONSTRAINT [FK_Subasta_Vehiculo]
GO
ALTER TABLE [dbo].[Puja] DROP CONSTRAINT [FK_Puja_Usuario]
GO
ALTER TABLE [dbo].[Puja] DROP CONSTRAINT [FK_Puja_Subasta]
GO
ALTER TABLE [dbo].[posts] DROP CONSTRAINT [FK_posts_users]
GO
ALTER TABLE [dbo].[Pago] DROP CONSTRAINT [FK_Pago_Puja]
GO
ALTER TABLE [dbo].[NotificacionAdmin] DROP CONSTRAINT [FK_NotificacionAdmin_Usuario]
GO
ALTER TABLE [dbo].[Notificacion] DROP CONSTRAINT [FK_Notificacion_Usuario]
GO
ALTER TABLE [dbo].[Notificacion] DROP CONSTRAINT [FK_Notificacion_Subasta]
GO
ALTER TABLE [dbo].[ImagenVehiculo] DROP CONSTRAINT [FK_ImagenVehiculo_Vehiculo]
GO
ALTER TABLE [dbo].[follows] DROP CONSTRAINT [FK_follows_following]
GO
ALTER TABLE [dbo].[follows] DROP CONSTRAINT [FK_follows_followed]
GO
ALTER TABLE [dbo].[Vehiculo] DROP CONSTRAINT [DF_Vehiculo_Estado]
GO
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [DF_Usuario_validado]
GO
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [DF_Usuario_activo]
GO
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [DF_Usuario_Rol]
GO
ALTER TABLE [dbo].[Subasta] DROP CONSTRAINT [DF_Subasta_Estado]
GO
ALTER TABLE [dbo].[NotificacionAdmin] DROP CONSTRAINT [DF__Notificac__fecha__6442E2C9]
GO
ALTER TABLE [dbo].[NotificacionAdmin] DROP CONSTRAINT [DF__Notificac__leida__634EBE90]
GO
ALTER TABLE [dbo].[Notificacion] DROP CONSTRAINT [DF_Notificacion_leida]
GO
ALTER TABLE [dbo].[ImagenVehiculo] DROP CONSTRAINT [DF_ImagenVehiculo_activo]
GO
/****** Object:  Index [UQ__Vehiculo__30962D1527B6AAEF]    Script Date: 05/02/2026 17:06:02 ******/
ALTER TABLE [dbo].[Vehiculo] DROP CONSTRAINT [UQ__Vehiculo__30962D1527B6AAEF]
GO
/****** Object:  Index [UQ__Usuario__AB6E616411E2D183]    Script Date: 05/02/2026 17:06:02 ******/
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [UQ__Usuario__AB6E616411E2D183]
GO
/****** Object:  Index [UQ__Empresa__D837D05C040BA45A]    Script Date: 05/02/2026 17:06:02 ******/
ALTER TABLE [dbo].[Empresa] DROP CONSTRAINT [UQ__Empresa__D837D05C040BA45A]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 05/02/2026 17:06:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Vehiculo]') AND type in (N'U'))
DROP TABLE [dbo].[Vehiculo]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 05/02/2026 17:06:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
DROP TABLE [dbo].[Usuario]
GO
/****** Object:  Table [dbo].[users]    Script Date: 05/02/2026 17:06:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U'))
DROP TABLE [dbo].[users]
GO
/****** Object:  Table [dbo].[Subasta]    Script Date: 05/02/2026 17:06:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Subasta]') AND type in (N'U'))
DROP TABLE [dbo].[Subasta]
GO
/****** Object:  Table [dbo].[Puja]    Script Date: 05/02/2026 17:06:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Puja]') AND type in (N'U'))
DROP TABLE [dbo].[Puja]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 05/02/2026 17:06:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[posts]') AND type in (N'U'))
DROP TABLE [dbo].[posts]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 05/02/2026 17:06:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pago]') AND type in (N'U'))
DROP TABLE [dbo].[Pago]
GO
/****** Object:  Table [dbo].[NotificacionAdmin]    Script Date: 05/02/2026 17:06:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NotificacionAdmin]') AND type in (N'U'))
DROP TABLE [dbo].[NotificacionAdmin]
GO
/****** Object:  Table [dbo].[Notificacion]    Script Date: 05/02/2026 17:06:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notificacion]') AND type in (N'U'))
DROP TABLE [dbo].[Notificacion]
GO
/****** Object:  Table [dbo].[ImagenVehiculo]    Script Date: 05/02/2026 17:06:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ImagenVehiculo]') AND type in (N'U'))
DROP TABLE [dbo].[ImagenVehiculo]
GO
/****** Object:  Table [dbo].[follows]    Script Date: 05/02/2026 17:06:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[follows]') AND type in (N'U'))
DROP TABLE [dbo].[follows]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 05/02/2026 17:06:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Empresa]') AND type in (N'U'))
DROP TABLE [dbo].[Empresa]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05/02/2026 17:06:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
/****** Object:  Database [subasta]    Script Date: 05/02/2026 17:06:02 ******/
DROP DATABASE [subasta]
GO
/****** Object:  Database [subasta]    Script Date: 05/02/2026 17:06:02 ******/
CREATE DATABASE [subasta]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_1', MAXSIZE = 24 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05/02/2026 17:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 05/02/2026 17:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[idEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[cif] [varchar](20) NOT NULL,
	[direccion] [varchar](200) NULL,
	[telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[follows]    Script Date: 05/02/2026 17:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[follows](
	[following_user_id] [int] NULL,
	[followed_user_id] [int] NULL,
	[created_at] [datetime2](0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImagenVehiculo]    Script Date: 05/02/2026 17:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImagenVehiculo](
	[idImagen] [int] IDENTITY(1,1) NOT NULL,
	[idVehiculo] [int] NOT NULL,
	[nombre] [varchar](100) NULL,
	[ruta] [varchar](200) NULL,
	[activo] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idImagen] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacion]    Script Date: 05/02/2026 17:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacion](
	[idNotificacion] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idSubasta] [int] NOT NULL,
	[mensaje] [nvarchar](max) NOT NULL,
	[fechaEnvio] [datetime2](0) NOT NULL,
	[leida] [tinyint] NOT NULL,
	[Titulo] [varchar](200) NULL,
	[Tipo] [varchar](50) NULL,
	[FechaCreacion] [datetime] NULL,
	[DatosAdicionales] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[idNotificacion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificacionAdmin]    Script Date: 05/02/2026 17:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificacionAdmin](
	[idNotificacion] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](200) NOT NULL,
	[mensaje] [varchar](500) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[idUsuario] [int] NULL,
	[leida] [tinyint] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[DatosAdicionales] [varchar](500) NULL,
	[IdSubasta] [int] NULL,
	[FechaEnvio] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idNotificacion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 05/02/2026 17:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[idPago] [int] IDENTITY(1,1) NOT NULL,
	[idPuja] [int] NOT NULL,
	[fechaPago] [datetime2](0) NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[metodoPago] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPago] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 05/02/2026 17:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[id] [int] NOT NULL,
	[title] [nvarchar](255) NULL,
	[body] [nvarchar](max) NULL,
	[user_id] [int] NOT NULL,
	[status] [nvarchar](255) NULL,
	[created_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puja]    Script Date: 05/02/2026 17:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puja](
	[idPuja] [int] IDENTITY(1,1) NOT NULL,
	[idSubasta] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[fechaPuja] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPuja] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subasta]    Script Date: 05/02/2026 17:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subasta](
	[idSubasta] [int] IDENTITY(1,1) NOT NULL,
	[idVehiculo] [int] NOT NULL,
	[fechaInicio] [datetime2](0) NOT NULL,
	[fechaFin] [datetime2](0) NOT NULL,
	[precioInicial] [decimal](10, 2) NOT NULL,
	[incrementoMinimo] [decimal](10, 2) NOT NULL,
	[precioActual] [decimal](10, 2) NULL,
	[estado] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSubasta] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 05/02/2026 17:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] NOT NULL,
	[username] [nvarchar](255) NULL,
	[role] [nvarchar](255) NULL,
	[created_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 05/02/2026 17:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[rol] [nvarchar](255) NOT NULL,
	[activo] [tinyint] NOT NULL,
	[validado] [tinyint] NOT NULL,
	[idEmpresa] [int] NULL,
	[fotoPerfilBase64] [varchar](max) NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](255) NULL,
	[documentoIAE] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 05/02/2026 17:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[idVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[matricula] [varchar](20) NOT NULL,
	[color] [varchar](30) NULL,
	[anio] [int] NULL,
	[numeroPuertas] [int] NULL,
	[kilometraje] [int] NULL,
	[potencia] [int] NULL,
	[tipoMotor] [nvarchar](255) NOT NULL,
	[tipoCarroceria] [nvarchar](255) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[fechaMatriculacion] [date] NULL,
	[fechaCreacion] [date] NOT NULL,
	[estado] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idVehiculo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260131080343_AgregarFotoPerfilUsuario', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260131090133_EstadoActualDB', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Empresa] ON 

INSERT [dbo].[Empresa] ([idEmpresa], [nombre], [cif], [direccion], [telefono]) VALUES (1, N'Motor Ibérica S.L.', N'B12345638', N'C/ Alcalá 123, Madrid', N'915000133')
INSERT [dbo].[Empresa] ([idEmpresa], [nombre], [cif], [direccion], [telefono]) VALUES (2, N'Auto Premium S.A.', N'A98765432', N'Av. Diagonal 456, BCN', N'933000222')
INSERT [dbo].[Empresa] ([idEmpresa], [nombre], [cif], [direccion], [telefono]) VALUES (3, N'Subastas del Sur SL', N'B11223344', N'Av. Andalucía 10, MLG', N'952100300')
SET IDENTITY_INSERT [dbo].[Empresa] OFF
GO
INSERT [dbo].[follows] ([following_user_id], [followed_user_id], [created_at]) VALUES (2, 1, CAST(N'2026-01-23T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[follows] ([following_user_id], [followed_user_id], [created_at]) VALUES (3, 1, CAST(N'2026-01-24T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[follows] ([following_user_id], [followed_user_id], [created_at]) VALUES (3, 2, CAST(N'2026-01-24T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[ImagenVehiculo] ON 

INSERT [dbo].[ImagenVehiculo] ([idImagen], [idVehiculo], [nombre], [ruta], [activo]) VALUES (1, 2, N'frontal.jpg', N'/img/vehiculos/1/frontal.jpg', 1)
INSERT [dbo].[ImagenVehiculo] ([idImagen], [idVehiculo], [nombre], [ruta], [activo]) VALUES (2, 2, N'interior.jpg', N'/img/vehiculos/1/interior.jpg', 1)
INSERT [dbo].[ImagenVehiculo] ([idImagen], [idVehiculo], [nombre], [ruta], [activo]) VALUES (3, 2, N'lateral.jpg', N'/img/vehiculos/1/lateral.jpg', 1)
SET IDENTITY_INSERT [dbo].[ImagenVehiculo] OFF
GO
SET IDENTITY_INSERT [dbo].[Notificacion] ON 

INSERT [dbo].[Notificacion] ([idNotificacion], [idUsuario], [idSubasta], [mensaje], [fechaEnvio], [leida], [Titulo], [Tipo], [FechaCreacion], [DatosAdicionales]) VALUES (1, 2, 1, N'Has sido superado en la puja de la subasta #1', CAST(N'2026-01-26T11:11:00.0000000' AS DateTime2), 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Notificacion] ([idNotificacion], [idUsuario], [idSubasta], [mensaje], [fechaEnvio], [leida], [Titulo], [Tipo], [FechaCreacion], [DatosAdicionales]) VALUES (2, 3, 1, N'Eres la puja ganadora actual en la subasta #1', CAST(N'2026-01-26T11:12:00.0000000' AS DateTime2), 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Notificacion] ([idNotificacion], [idUsuario], [idSubasta], [mensaje], [fechaEnvio], [leida], [Titulo], [Tipo], [FechaCreacion], [DatosAdicionales]) VALUES (3, 5, 2, N'Has ganado la subasta #2', CAST(N'2026-01-22T09:05:00.0000000' AS DateTime2), 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Notificacion] OFF
GO
SET IDENTITY_INSERT [dbo].[NotificacionAdmin] ON 

INSERT [dbo].[NotificacionAdmin] ([idNotificacion], [titulo], [mensaje], [tipo], [idUsuario], [leida], [fechaCreacion], [DatosAdicionales], [IdSubasta], [FechaEnvio]) VALUES (5, N'Nuevo usuario registrado', N'El usuario Miguel3e iniciativa (admin@hits.com) se ha registrado y está pendiente de validación.', N'registro', 34, 1, CAST(N'2026-02-03T10:20:37.267' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[NotificacionAdmin] ([idNotificacion], [titulo], [mensaje], [tipo], [idUsuario], [leida], [fechaCreacion], [DatosAdicionales], [IdSubasta], [FechaEnvio]) VALUES (6, N'Nuevo documento IAE subido', N'Miguel3e iniciativa ha subido su documento IAE y está pendiente de validación.', N'documento_subido', 34, 1, CAST(N'2026-02-03T10:22:09.107' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[NotificacionAdmin] ([idNotificacion], [titulo], [mensaje], [tipo], [idUsuario], [leida], [fechaCreacion], [DatosAdicionales], [IdSubasta], [FechaEnvio]) VALUES (7, N'Nuevo usuario registrado', N'El usuario David Martinez (david_1996_mj@hotmail.com) se ha registrado y está pendiente de validación.', N'registro', 35, 1, CAST(N'2026-02-03T16:17:18.557' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NotificacionAdmin] OFF
GO
SET IDENTITY_INSERT [dbo].[Pago] ON 

INSERT [dbo].[Pago] ([idPago], [idPuja], [fechaPago], [cantidad], [metodoPago]) VALUES (1, 3, CAST(N'2026-01-23T10:00:00.0000000' AS DateTime2), CAST(9400.00 AS Decimal(10, 2)), N'tarjeta')
SET IDENTITY_INSERT [dbo].[Pago] OFF
GO
INSERT [dbo].[posts] ([id], [title], [body], [user_id], [status], [created_at]) VALUES (1, N'Bienvenida', N'Primer post de prueba', 1, N'published', CAST(N'2026-01-22T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[posts] ([id], [title], [body], [user_id], [status], [created_at]) VALUES (2, N'Noticias', N'Estado de la plataforma', 2, N'draft', CAST(N'2026-01-23T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Puja] ON 

INSERT [dbo].[Puja] ([idPuja], [idSubasta], [idUsuario], [cantidad], [fechaPuja]) VALUES (1, 1, 2, CAST(13250.00 AS Decimal(10, 2)), CAST(N'2026-01-26T10:05:00.0000000' AS DateTime2))
INSERT [dbo].[Puja] ([idPuja], [idSubasta], [idUsuario], [cantidad], [fechaPuja]) VALUES (2, 1, 3, CAST(13500.00 AS Decimal(10, 2)), CAST(N'2026-01-26T11:10:00.0000000' AS DateTime2))
INSERT [dbo].[Puja] ([idPuja], [idSubasta], [idUsuario], [cantidad], [fechaPuja]) VALUES (3, 2, 5, CAST(9400.00 AS Decimal(10, 2)), CAST(N'2026-01-18T12:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Puja] OFF
GO
SET IDENTITY_INSERT [dbo].[Subasta] ON 

INSERT [dbo].[Subasta] ([idSubasta], [idVehiculo], [fechaInicio], [fechaFin], [precioInicial], [incrementoMinimo], [precioActual], [estado]) VALUES (1, 2, CAST(N'2026-01-25T10:00:00.0000000' AS DateTime2), CAST(N'2026-02-03T10:00:00.0000000' AS DateTime2), CAST(13000.00 AS Decimal(10, 2)), CAST(250.00 AS Decimal(10, 2)), CAST(14259.00 AS Decimal(10, 2)), N'finalizada')
INSERT [dbo].[Subasta] ([idSubasta], [idVehiculo], [fechaInicio], [fechaFin], [precioInicial], [incrementoMinimo], [precioActual], [estado]) VALUES (2, 1, CAST(N'2026-01-15T09:00:00.0000000' AS DateTime2), CAST(N'2026-01-22T09:00:00.0000000' AS DateTime2), CAST(9000.00 AS Decimal(10, 2)), CAST(200.00 AS Decimal(10, 2)), CAST(9400.00 AS Decimal(10, 2)), N'finalizada')
INSERT [dbo].[Subasta] ([idSubasta], [idVehiculo], [fechaInicio], [fechaFin], [precioInicial], [incrementoMinimo], [precioActual], [estado]) VALUES (6, 8, CAST(N'2026-02-03T11:32:35.0000000' AS DateTime2), CAST(N'2026-02-13T11:32:35.0000000' AS DateTime2), CAST(42000.00 AS Decimal(10, 2)), CAST(600.00 AS Decimal(10, 2)), CAST(42000.00 AS Decimal(10, 2)), N'activa')
SET IDENTITY_INSERT [dbo].[Subasta] OFF
GO
INSERT [dbo].[users] ([id], [username], [role], [created_at]) VALUES (1, N'lucia', N'admin', CAST(N'2026-01-20T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[users] ([id], [username], [role], [created_at]) VALUES (2, N'miguel', N'editor', CAST(N'2026-01-21T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[users] ([id], [username], [role], [created_at]) VALUES (3, N'sofia', N'contributor', CAST(N'2026-01-22T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idUsuario], [nombre], [apellidos], [email], [password], [rol], [activo], [validado], [idEmpresa], [fotoPerfilBase64], [telefono], [direccion], [documentoIAE]) VALUES (1, N'Lucía', N' García López', N'lucia@motoriberica.es', N'$2a$11$SvqmoYVuOsDZx/Z5b1tFkO6xL8jensEOwkX9UCfyPuus5RnQyH/Ne', N'Admin', 1, 1, 1, NULL, N'659651028', N'lucia@motoriberica.es', NULL)
INSERT [dbo].[Usuario] ([idUsuario], [nombre], [apellidos], [email], [password], [rol], [activo], [validado], [idEmpresa], [fotoPerfilBase64], [telefono], [direccion], [documentoIAE]) VALUES (3, N'Sofía', N'Ruiz Sánchez', N'sofia@autopremium.com', N'$2a$11$SvqmoYVuOsDZx/Z5b1tFkO6xL8jensEOwkX9UCfyPuus5RnQyH/Ne', N'registrado', 1, 1, 2, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehiculo] ON 

INSERT [dbo].[Vehiculo] ([idVehiculo], [marca], [modelo], [matricula], [color], [anio], [numeroPuertas], [kilometraje], [potencia], [tipoMotor], [tipoCarroceria], [descripcion], [fechaMatriculacion], [fechaCreacion], [estado]) VALUES (1, N'Seat', N'León', N'1234ABC', N'Rojo', 2019, 5, 45000, 110, N'Gasolina', N'Compacto', N'Buen estado, único dueño', CAST(N'2019-03-15' AS Date), CAST(N'2026-01-20' AS Date), N'registrado')
INSERT [dbo].[Vehiculo] ([idVehiculo], [marca], [modelo], [matricula], [color], [anio], [numeroPuertas], [kilometraje], [potencia], [tipoMotor], [tipoCarroceria], [descripcion], [fechaMatriculacion], [fechaCreacion], [estado]) VALUES (2, N'BMW', N'320d', N'5678DEF', N'Azul', 2018, 4, 98000, 140, N'Gasoil', N'Berlina', N'Revisiones al día', CAST(N'2018-07-10' AS Date), CAST(N'2026-01-20' AS Date), N'en subasta')
INSERT [dbo].[Vehiculo] ([idVehiculo], [marca], [modelo], [matricula], [color], [anio], [numeroPuertas], [kilometraje], [potencia], [tipoMotor], [tipoCarroceria], [descripcion], [fechaMatriculacion], [fechaCreacion], [estado]) VALUES (3, N'Tesla', N'Model 3', N'9012GHI', N'Blanco', 2022, 4, 22000, 258, N'Eléctrico', N'Berlina', N'Autopilot, Long Range', CAST(N'2022-05-01' AS Date), CAST(N'2026-01-20' AS Date), N'registrado')
SET IDENTITY_INSERT [dbo].[Vehiculo] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empresa__D837D05C040BA45A]    Script Date: 05/02/2026 17:06:02 ******/
ALTER TABLE [dbo].[Empresa] ADD UNIQUE NONCLUSTERED 
(
	[cif] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__AB6E616411E2D183]    Script Date: 05/02/2026 17:06:02 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehiculo__30962D1527B6AAEF]    Script Date: 05/02/2026 17:06:02 ******/
ALTER TABLE [dbo].[Vehiculo] ADD UNIQUE NONCLUSTERED 
(
	[matricula] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ImagenVehiculo] ADD  CONSTRAINT [DF_ImagenVehiculo_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Notificacion] ADD  CONSTRAINT [DF_Notificacion_leida]  DEFAULT ((0)) FOR [leida]
GO
ALTER TABLE [dbo].[NotificacionAdmin] ADD  DEFAULT ((0)) FOR [leida]
GO
ALTER TABLE [dbo].[NotificacionAdmin] ADD  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Subasta] ADD  CONSTRAINT [DF_Subasta_Estado]  DEFAULT (N'activa') FOR [estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_Rol]  DEFAULT (N'registrado') FOR [rol]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_validado]  DEFAULT ((0)) FOR [validado]
GO
ALTER TABLE [dbo].[Vehiculo] ADD  CONSTRAINT [DF_Vehiculo_Estado]  DEFAULT (N'registrado') FOR [estado]
GO
ALTER TABLE [dbo].[follows]  WITH CHECK ADD  CONSTRAINT [FK_follows_followed] FOREIGN KEY([followed_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[follows] CHECK CONSTRAINT [FK_follows_followed]
GO
ALTER TABLE [dbo].[follows]  WITH CHECK ADD  CONSTRAINT [FK_follows_following] FOREIGN KEY([following_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[follows] CHECK CONSTRAINT [FK_follows_following]
GO
ALTER TABLE [dbo].[ImagenVehiculo]  WITH CHECK ADD  CONSTRAINT [FK_ImagenVehiculo_Vehiculo] FOREIGN KEY([idVehiculo])
REFERENCES [dbo].[Vehiculo] ([idVehiculo])
GO
ALTER TABLE [dbo].[ImagenVehiculo] CHECK CONSTRAINT [FK_ImagenVehiculo_Vehiculo]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [FK_Notificacion_Subasta] FOREIGN KEY([idSubasta])
REFERENCES [dbo].[Subasta] ([idSubasta])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [FK_Notificacion_Subasta]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [FK_Notificacion_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [FK_Notificacion_Usuario]
GO
ALTER TABLE [dbo].[NotificacionAdmin]  WITH CHECK ADD  CONSTRAINT [FK_NotificacionAdmin_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NotificacionAdmin] CHECK CONSTRAINT [FK_NotificacionAdmin_Usuario]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Puja] FOREIGN KEY([idPuja])
REFERENCES [dbo].[Puja] ([idPuja])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Puja]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [FK_posts_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [FK_posts_users]
GO
ALTER TABLE [dbo].[Puja]  WITH CHECK ADD  CONSTRAINT [FK_Puja_Subasta] FOREIGN KEY([idSubasta])
REFERENCES [dbo].[Subasta] ([idSubasta])
GO
ALTER TABLE [dbo].[Puja] CHECK CONSTRAINT [FK_Puja_Subasta]
GO
ALTER TABLE [dbo].[Puja]  WITH CHECK ADD  CONSTRAINT [FK_Puja_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Puja] CHECK CONSTRAINT [FK_Puja_Usuario]
GO
ALTER TABLE [dbo].[Subasta]  WITH CHECK ADD  CONSTRAINT [FK_Subasta_Vehiculo] FOREIGN KEY([idVehiculo])
REFERENCES [dbo].[Vehiculo] ([idVehiculo])
GO
ALTER TABLE [dbo].[Subasta] CHECK CONSTRAINT [FK_Subasta_Vehiculo]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Empresa] FOREIGN KEY([idEmpresa])
REFERENCES [dbo].[Empresa] ([idEmpresa])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Empresa]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_Metodo] CHECK  (([metodoPago]=N'efectivo' OR [metodoPago]=N'transferencia' OR [metodoPago]=N'tarjeta'))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_Metodo]
GO
ALTER TABLE [dbo].[Subasta]  WITH CHECK ADD  CONSTRAINT [CK_Subasta_Estado] CHECK  (([estado]=N'sin pujas' OR [estado]=N'finalizada' OR [estado]=N'activa'))
GO
ALTER TABLE [dbo].[Subasta] CHECK CONSTRAINT [CK_Subasta_Estado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_Rol] CHECK  (([rol]=N'admin' OR [rol]=N'validado' OR [rol]=N'registrado'))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [CK_Vehiculo_Estado] CHECK  (([estado]=N'archivado' OR [estado]=N'vendido' OR [estado]=N'en subasta' OR [estado]=N'registrado'))
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [CK_Vehiculo_Estado]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [CK_Vehiculo_TipoCarroceria] CHECK  (([tipoCarroceria]=N'Coupé' OR [tipoCarroceria]=N'Familiar' OR [tipoCarroceria]=N'Descapotable' OR [tipoCarroceria]=N'Deportivo' OR [tipoCarroceria]=N'Todoterreno' OR [tipoCarroceria]=N'Compacto' OR [tipoCarroceria]=N'Berlina'))
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [CK_Vehiculo_TipoCarroceria]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [CK_Vehiculo_TipoMotor] CHECK  (([tipoMotor]=N'Eléctrico' OR [tipoMotor]=N'Gasoil' OR [tipoMotor]=N'Gasolina'))
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [CK_Vehiculo_TipoMotor]
GO
EXEC sys.sp_addextendedproperty @name=N'Column_Description', @value=N'Content of the post' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'posts', @level2type=N'COLUMN',@level2name=N'body'
GO
