**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/charts
**/docker-compose*
**/compose*
**/*.md
**/node_modules
**/npm-debug.log
**/Dockerfile*
**/.toolstarget
**/Tests
**/*.Development.json
front/
